
@{
    ViewBag.Title = "demo";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script>
    var loadPayFile= function (event) {

         URL.createObjectURL(event.target.files[0]);


         $('#divpreview').html('<object data='+event.target.files[0]+' type="application/pdf width= 500px height= 300px internalinstanceid=440>If you are unable to view file, you can download from  or download <a target="_blank" href="http://get.adobe.com/reader/">Adobe PDF Reader</a> to view the file.</object>');

    };






</script>

<link href="~/Content/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>         
<textarea name="content" class="note-editor" rows="10"></textarea>
1	शिल्पकार का नाम
2	शिल्पकार के पिता/पति का नाम
3	शिल्पकार की आयु (प्रमाण सहित)
4	शिल्पकार का अस्थाई पता
5	शिल्पकार का स्थाई पता
6	शिल्पकार का हस्तशिल्पी पहचान पत्र संख्या
7	शिल्पकार का मोबाईल नम्बर
8	शिल्प का नाम
9	शिल्पकार का गुरू जिससे शिल्पकार्य सीखा है।
10	शिल्पकार द्वारा कब से शिल्पकार्य किया जा रहा है।
11	शिल्पकार को किये जाने का उद्देश्य क्या है।
12	कलाकृति का नाम
13	कलाकृति का मूल्य (रूपयों में )
14	पुरस्कार हेतु कलाकृति कितने समय में तैयार की गयी
15	पुरस्कार हेतु इससे पूर्व कौन कौन से पुरस्कार प्राप्त हो चुके हैं उसके प्रमाण पत्रों की छाया प्रतियाॅ।
16	किन-किन हस्तशिल्प प्रदर्शनियों में सहभागिता की गयी है उस संबंधित प्रपत्रों की छाया प्रतियाॅ।
17	शिल्पकार द्वारा कलाकृतियों कहीं रखी गयी हैं उसका उल्लेख
(प्रदर्शनी कक्ष, मन्दिर, मस्जिद, गुरूद्वारा, चर्च आदि में)
-----------------------------------------------------------------------------------------------------------------------------


                          उद्योग एवं उद्यम प्रोत्साहन निदेशालय, उ0प्र0 कानपुर

’’विशिष्ट शिल्पकारों के लिएपेंशन योजना’’ का प्रारूप

सेवा में,

    उपायुक्त उद्योग
    जिला उद्योग एवं उद्यम प्रोत्साहन केन्द्र
    .......................................................................	नवीनतम फोटो ग्राम प्रधान/सभासद/राजपत्रित अधिकारी द्वारा प्रमाणित


महोदय,
मैं राज्य सरकार द्वारा संचालित “शिल्पकारों की पेंशन योजना” का लाभ लेना चाहता/चाहती हॅू जो सूक्ष्म लघु एवं मध्यम उद्यम तथा निर्यात प्रोत्साहन विभाग के उद्योग एवं उद्यम प्रोत्साहन निदेशालय, उ0प्र0 कानपुर द्वारा कार्यान्वित की जा रही हैं। मेरे विवरण निम्नवत् है।

1-शिल्पकार का पूरा नाम     ---------------------------------------------------------
2-पिता/पति का नाम  --------------------------------------------
3-फोनन0/मो0न0/ -----------------------------------------------------
4-ईमेल         ---------------------------------------------------
5-आधार कार्ड नं0    -------------------------------------------
6-स्थाई पता                -------------------------------------------
7-अस्थाई पता	          ------------------------------------------------
8-आयु (प्रार्थना पत्र देने की तिथि को आयु) ---------------------------------------
(आयु प्रमाण पत्र संलग्न करें)

9-शिल्प जिसमें कार्यरत हैं    -----------------------------------------------
10-आर्टीजन कार्ड का विवरण  ----------------------------------------------
11-प्राप्त पुरस्कार का विवरण   -----------------------------------------------
 ( प्रमाण पत्र संलग्न करें)

12-हस्तविशिष्ट के क्षेत्र में किये  ----------------------------------------------
    कायों का विवरण

13-बैंक एकाउन्ट का विवरणः-
    बैंकखाता सं0                 -------------------------------------------
  बैंक शाखा का नाम एवं पता       -------------------------------------------
  आई0एफ0सी कोड.         -----------------------------------------------



                                                                           (हस्तशिल्पी के हस्ताक्षर)

क्रमशः-2/-
------------------------------------------------------------------------------------------------------------------------------------

                          विकास आयुक्त हस्तशिल्प उ0प्र0 कानपुर

’’मुख्यमंत्री हस्तशिल्पपेंशन योजना’’ का प्रारूप

सेवा में,

    उपायुक्त उद्योग
    जिला उद्योग एवं उद्यम प्रोत्साहन केन्द्र
    .......................................................................	नवीनतम फोटो ग्राम प्रधान/सभासद/राजपत्रित अधिकारी द्वारा प्रमाणित


महोदय,
मैं राज्य सरकार द्वारा संचालित ’’मुख्यमंत्री हस्तशिल्पपेंशन योजना’’ का लाभ लेना चाहता/चाहती हॅू जो सूक्ष्म लघु एवं मध्यम उद्यम तथा निर्यात प्रोत्साहन विभाग के उद्योग एवं उद्यम प्रोत्साहन निदेशालय, उ0प्र0 कानपुर द्वारा कार्यान्वित की जा रही हैं। मेरे विवरण निम्नवत् है।

1-शिल्पकार का पूरा नाम     ---------------------------------------------------------
2-पिता/पति का नाम         ---------------------------------------------------------
3-फोनन0/मो0न0/         ----------------------------------------------------------
4-ईमेल                      ---------------------------------------------------
5-आधार कार्ड नं0            -----------------------------------------------------
6-स्थाई पता                ----------------------------------------------------------
7-अस्थाई पता	          ----------------------------------------------------------
8-आयु (प्रार्थना पत्र देने की तिथि को आयु) -------------------------------------------------
(आयु प्रमाण पत्र संलग्न करें)

9-शिल्प जिसमें कार्यरत हैं    ----------------------------------------------------------
10-आर्टीजन कार्ड का विवरण  ----------------------------------------------------------
11-वार्षिक आय रू0 में   ---------------------------------------------------------

12-बैंक एकाउन्ट का विवरणः-
    बैंकखाता सं0                 -----------------------------------------------------
  बैंक शाखा का नाम एवं पता       --------------------------------------------------
  आई0एफ0सी कोड.         ------------------------------------------------------



                                                                                      (हस्तशिल्पी के हस्ताक्षर)

मैं.............................................................................(पुत्र/पुत्री/पति)...........................................................................
निवासी...........................................................................................................हूॅं। मैं जनपद.....................................में.....................................................का शिल्पकार हूॅं। मेरा हस्तशिल्पी पहचान पत्र संख्या ....................................................................है।
	विशिष्ट हस्तशिल्प प्रादेशिक पुरस्कार योजनान्तर्गत वर्ष 2018-19 पे्रषित की जाने वाली कलाकृति स्वंय मेरे द्वारा ही बनाई गई है। इसमें परिवार या अन्य बाहरी व्यक्तियों का सहयोग बिल्कुल भी नहीं प्राप्त किया गया है और न ही मेरे द्वारा उक्त पे्रषित किये जाने वाली शिल्प/कलाकृति मोल क्रय कर रखी गयी है। मेरे द्वारा जमा की जाने वाली कलाकृति मण्डल स्तरीय कार्यालय या आयुक्त एवं निदेशक उद्योग, उत्तर प्रदेश, कानपुर कार्यालय को पे्रषित करते हुये यदि टूट फूट जाती है तो उसका सम्पूर्ण उत्तरदायी स्वंय मेरा होगा और मेरे द्वारा जमा की जाने वाली कलाकृति का दर्शाया गया मूल्य नहीं माॅगा जायेगा।

	विशिष्ट हस्तशिल्प प्रादेशिक पुरस्कार योजनान्तर्गत उक्त शिल्प/क्राप्ट में इससे पूर्व मुझको राज्य स्तरीय हस्तशिल्प पुरस्कार प्राप्त नहीं हुआ है।

	मेरे द्वारा पे्रषित की जाने वाली कलाकृति को स्वतः बनवाकर देखा जा सकता है। मेरे द्वारा उक्त दिये गये कथन पूर्णतया सत्य है। जाॅच कराये जाने में यदि असत्य पाये जाते हैं तो उसका पूर्ण उत्तरदायित्व मेरा मानते हुये मेरे शिल्प को उक्त पुरस्कार योजना से हटाने/बाहर किये जाने का पूर्ण अधिकार उपायुक्त उद्योग, जिला उद्योग केन्द्र, कार्यालय को है। मेरे द्वारा इस संबंध में किसी प्रकार का कोई भी वाद आदि न्यायालय में दायर नहीं किया जायेगा।

दिनांक
स्थान

शिल्पकार का सम्पूर्ण नाम,
हस्ताक्षर सहित
					स्थाई पता
					अस्थाई पता
					मोबाईल नम्बर

