@using Jmelosegui.Mvc.GoogleMap
@model DI.Models.DashboardModal


@{
    ViewBag.Title = "Index";
    
}


<div style="height: 500px; border: solid 1px #cccccc">
    @(Html.GoogleMap()
          .Name("map")
          .Width((int)ViewData["width"])
          .Height((int)ViewData["height"])
          .ApiKey("AIzaSyBOYfwN5dgGQislPPsZMYcEt2EE98N5O4A"))
</div>

<pre class="prettyprint">
@@(
        Html.GoogleMap()
            .Name("map")
            .Height(500)
            .Markers(m => m.Add().Title("Hello World!"))
)
</pre> 
<pre class="prettyprint">
    @@section scripts
    {
       @@(Html.GoogleMap().ScriptRegistrar())
    }
        </pre>

<pre class="prettyprint">
    @@using Jmelosegui.Mvc.GoogleMap
        </pre>





